#friends-display-link{
    position:absolute;
    top:80px;
    text-align: center;
    display: block;
    width:100%;
    background-color: #fafafa;
    padding:15px 0px;
    margin: 15px 0px;
    font-size: 16px;
}

#friends-display-link i{
    color:var(--font-gray);
}

.friends{
    position: absolute;
    top: 150px;
    width: 100%;
    box-sizing: border-box;
}

.friends-screen__channel{
    margin-top:25px;
    border-top:var(--main-border);
    padding-top:15px;
}

.friends-screen__channel-header{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color: var(--font-gray);
}