.screen-header__title{
    font-size: 25px;
    font-weight: 800;
}


.settings{
    position: absolute;
    top: 100px;
    width: 100%;
    box-sizing: border-box;
}

.settings__setting{
    padding:20px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-size: 18px;
    display: flex;
    align-items: center;
}

.settings__setting i{
    margin-right: 20px;
    font-size: 22px;
    color: rgba(0,0,0,0.8)
}