.alt-header {
  position: absolute;
  top: 40px;
  padding: 0px var(--horizontal-space);
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
}

.alt-header__column {
  width: 33%;
}

.alt-header__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.alt-header__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.alt-header__column h1 {
  font-size: 25px;
  font-weight: 700;
}

.alt-header__column span {
  padding-left: 20px;
}
