.badge{
    background-color: tomato;
    width: 30px;
    height:30px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
}


.small_badge{
    background-color: tomato;
    width: 5px;
    height:5px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    bottom:25px;
}